.list {
  .card {
    display: flex;
    margin: 0.5rem;
    border-radius: 0.5rem;
    justify-content: space-between;

    .detalle {
      position: relative;
      align-items: flex-start;
      padding: 0 3.8rem 0 0;

      .btnDelete {
        position: absolute;
        top: 0;
        right: 3.5px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
    
        border-radius: 2rem;

        svg {
          margin: 1px;
        }
      }

      .name {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.7rem;
        color: rgb(8, 1, 137);
        //  line-height: 1.8125rem;
        //  font-family: Poppins, BlinkMacSystemFont, Roboto, sans-serif;
      }
    }
    .btn {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;

      p {
        font-size: 16px;
        font-weight: 600;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    img {
      width: 5rem;
      max-height: 5rem;
      object-fit: cover;
      object-position: center center;
      border-radius: 0.5rem;
      aspect-ratio: 1/1;
    }
  }
}
