.listProduct {
  padding-top: 0rem;
  width: 100%;
  margin-top: 9rem;
  h4 {
    text-transform: uppercase;
    margin: 1rem;
  }
}

.list {
  padding: 10px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  background-color: rgb(241, 241, 241);

  button {
    width: 95% !important;
    background-color: #ffd814;
    border: none;
    color: black;
    margin: 0.2rem 0;
  }

  &__product {
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 5px;

    img {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      object-fit: cover;
      object-position: center center;
      aspect-ratio: 1/1;
    }

    .title {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      text-transform: uppercase;
    }

    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      align-items: center;

      h5 {
        font-size: 1.2rem;
        color: #fd384f;
        font-weight: 800;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .whatsapp {
        margin: 0.1rem;
        padding: 0.4rem;
        background-color: #76be1e;
        border-radius: 50%;
        -webkit-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.19);
        box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.19);
      }
    }

    h5 {
      font-size: 0.9rem;
    }

    h6 {
      color: #999898;
      font-size: 0.9rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
